mixin accelerator(profiles)
  each profile in profiles
    .profile-box
      if profile.portfolio
        a(href="#{profile.portfolio}" style="text-decoration:none"): img(style="height:220px; width:220px" src="/images/accelerator/portfolio/#{profile.image}")
      else  
        img(style="height:220px; width:220px" src="/images/accelerator/portfolio/#{profile.image}")
      .content
        h4= profile.name
        if profile.title
          p= profile.title
        ul.no-style-type
          each link in profile.links
            if link.url
              li: a(href="#{link.url}") <img src="/images/accelerator/mentors/#{link.image}">
            if link.email
              li: a(href="mailto:#{link.email}") <img src="/images/accelerator/mentors/email.png">