mixin bio(people)
  each person in people
    .bio(id=person.id)
      .bio-left
        img.photo-bio(src=person.photo)
        if person.email
          a.btn.btn-contact(href="mailto:#{person.email}")
            img(src="http://theironyard.com/images/email.png")
            p Say hello
      .bio-right
        h2= person.name
        if person.title
          h4= person.title
        p(style="font-size:16px")= person.description 
        ul.links
          each link in person.links
            li 
              a(href=link.url)= link.title
